In [1]:
#!pip install mysqlclient

In [2]:
#!pip install mariadb

In [3]:
#!pip install beautifulSoup4
#!pip install pandas
#!pip install sqlalchemy
#!pip install tabula-py
#!pip install xlrd

In [18]:
import pandas
import matplotlib.pyplot as plt
import requests
from tabula import read_pdf
from bs4 import BeautifulSoup
from sqlalchemy import create_engine
import requests

In [5]:
# servidor = 129.151.108.83
# puerto   = 3306
# usuario  = admin2
# pass     = admin1234
# database = MayoristaCelulares

engine = create_engine("mariadb+mariadbconnector://admin2:admin1234@129.151.108.83:3306/MayoristaCelulares")

In [6]:
query1 = pandas.read_sql("SELECT * FROM ventas LEFT JOIN productos on ventas.IDProducto = productos.IDProducto LEFT JOIN categorias on productos.`ID Categoria`=categorias.`ID Categoria`", engine)
display(query1)

,CodigoPedido,IDCliente,ID Ciudad,IDProducto,FechaVenta,Unidades,IDProducto,ID Categoria,NombreProducto,CostoUnitarioCAD,PrecioUnitarioCAD,ID Categoria,Categoria
0,158957,181215,CIUDAD-600,IP2,2005-01-08,22.0,IP2,CAT-LOW100,Iphone 2,1000.0,1250.00,CAT-LOW100,Gama Baja
1,158958,181215,CIUDAD-600,IP3,2005-01-08,20.0,IP3,CAT-LOW100,Iphone 3,1200.0,1500.00,CAT-LOW100,Gama Baja
2,158959,181215,CIUDAD-600,IP4,2005-01-08,20.0,IP4,CAT-MID200,Iphone 4,1400.0,1890.00,CAT-MID200,Gama Media
3,158960,181215,CIUDAD-600,IP5,2005-01-08,16.0,IP5,CAT-MID200,Iphone 5,1600.0,2160.00,CAT-MID200,Gama Media
4,158961,181215,CIUDAD-600,IP6,2005-01-08,16.0,IP6,CAT-HIGH300,Iphone 6,1800.0,2610.00,CAT-HIGH300,Gama Alta
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25339,184296,181253,CIUDAD-600,MG,2015-12-08,88.0,MG,CAT-MID200,Motorola G,780.0,1053.00,CAT-MID200,Gama Media
25340,184297,181253,CIUDAD-600,MX,2015-12-08,114.0,MX,CAT-MID200,Motorola X,548.0,739.80,CAT-MID200,Gama Media
25341,184298,181253,CIUDAD-600,SXU,2015-12-08,90.0,SXU,CAT-HIGH300,Sony Xperia U,999.0,1448.55,CAT-HIGH300,Gama Alta
25342,184299,181253,CIUDAD-600,AO1,2015-12-08,86.0,AO1,CAT-LOW100,Alcatel One,700.0,875.00,CAT-LOW100,Gama Baja
25343,184300,181253,CIUDAD-600,LGP,2015-12-08,66.0,LGP,CAT-HIGH300,LG Pro,358.0,519.10,CAT-HIGH300,Gama Alta

In [7]:
query1.dtypes

CodigoPedido                 object
IDCliente                    object
ID Ciudad                    object
IDProducto                   object
FechaVenta           datetime64[ns]
Unidades                    float64
IDProducto                   object
ID Categoria                 object
NombreProducto               object
CostoUnitarioCAD            float64
PrecioUnitarioCAD           float64
ID Categoria                 object
Categoria                    object
dtype: object

In [8]:
query2 = pandas.read_sql("SELECT * FROM clientes", engine)
display(query2)

   IDCliente NombreCliente
0     111225    Jumbo/Easy
1     111249        Ct Pal
2     141223         Disco
3     161217         Ã‰xito
4     161229       Unilago
5     171219        Tottus
6     171251      Infotect
7     181215         Jumbo
8     181241        Ripley
9     181253     Falabella
10    191221      Megamaxi

In [9]:
query2.dtypes

IDCliente        object
NombreCliente    object
dtype: object

In [14]:
df_join_query = query2.join(query1.set_index('IDCliente'), on='IDCliente')
display(df_join_query)

,IDCliente,NombreCliente,CodigoPedido,ID Ciudad,IDProducto,FechaVenta,Unidades,IDProducto,ID Categoria,NombreProducto,CostoUnitarioCAD,PrecioUnitarioCAD,ID Categoria,Categoria
0,111225,Jumbo/Easy,159037,CIUDAD-200,IP2,2005-01-08,58.0,IP2,CAT-LOW100,Iphone 2,1000.0,1250.00,CAT-LOW100,Gama Baja
0,111225,Jumbo/Easy,159038,CIUDAD-200,IP3,2005-01-08,64.0,IP3,CAT-LOW100,Iphone 3,1200.0,1500.00,CAT-LOW100,Gama Baja
0,111225,Jumbo/Easy,159039,CIUDAD-200,IP4,2005-01-08,72.0,IP4,CAT-MID200,Iphone 4,1400.0,1890.00,CAT-MID200,Gama Media
0,111225,Jumbo/Easy,159040,CIUDAD-200,IP5,2005-01-08,70.0,IP5,CAT-MID200,Iphone 5,1600.0,2160.00,CAT-MID200,Gama Media
0,111225,Jumbo/Easy,159041,CIUDAD-200,IP6,2005-01-08,36.0,IP6,CAT-HIGH300,Iphone 6,1800.0,2610.00,CAT-HIGH300,Gama Alta
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,191221,Megamaxi,184184,CIUDAD-700,MG,2015-12-08,98.0,MG,CAT-MID200,Motorola G,780.0,1053.00,CAT-MID200,Gama Media
10,191221,Megamaxi,184185,CIUDAD-700,MX,2015-12-08,114.0,MX,CAT-MID200,Motorola X,548.0,739.80,CAT-MID200,Gama Media
10,191221,Megamaxi,184186,CIUDAD-700,SXU,2015-12-08,140.0,SXU,CAT-HIGH300,Sony Xperia U,999.0,1448.55,CAT-HIGH300,Gama Alta
10,191221,Megamaxi,184187,CIUDAD-700,AO1,2015-12-08,112.0,AO1,CAT-LOW100,Alcatel One,700.0,875.00,CAT-LOW100,Gama Baja
10,191221,Megamaxi,184188,CIUDAD-700,LGP,2015-12-08,86.0,LGP,CAT-HIGH300,LG Pro,358.0,519.10,CAT-HIGH300,Gama Alta

In [11]:
pdf_paises = "Paises.pdf"

df_paises_aux = read_pdf(pdf_paises,
pages = ["1"],
multiple_tables = True,
#pandas_options={'skiprows':1}
pandas_options={'header':None},
encoding = 'ISO-8859-1',
stream = False
)

df_paises_aux0 = df_paises_aux[0]


#df_paises_aux0


df_para_concat = [df_paises_aux0]
df_paises = pandas.concat(df_para_concat)

#Promovemos la primera fila como encabezado
df_paises.columns = df_paises.iloc[0]
df_paises = df_paises[1:]

display(df_paises)

0   ID Pais       Pais
1   PAIS-15    Uruguay
2   PAIS-32  Argentina
3   PAIS-49   Colombia
4   PAIS-66      Chile
5   PAIS-83       PerÃº
6  PAIS-100    Ecuador

In [12]:
df_ciudades = pandas.read_excel("Ciudades.xlsx", header=0)
display(df_ciudades)

    ID Ciudad   ID Pais        Ciudad
0  CIUDAD-100   PAIS-15    Montevideo
1  CIUDAD-200   PAIS-32  Buenos Aires
2  CIUDAD-300   PAIS-49        BogotÃ¡
3  CIUDAD-400   PAIS-66    ConcepciÃ³n
4  CIUDAD-600   PAIS-66      Santiago
5  CIUDAD-500   PAIS-83          Lima
6  CIUDAD-700  PAIS-100         Quito

In [16]:
df_join_ciudades_paises = df_ciudades.join(df_paises.set_index('ID Pais'), on = 'ID Pais')
display(df_join_ciudades_paises)

df_join_final = df_join_query.join(df_join_ciudades_paises.set_index('ID Ciudad'), on = 'ID Ciudad')
display(df_join_final)

    ID Ciudad   ID Pais        Ciudad       Pais
0  CIUDAD-100   PAIS-15    Montevideo    Uruguay
1  CIUDAD-200   PAIS-32  Buenos Aires  Argentina
2  CIUDAD-300   PAIS-49        BogotÃ¡   Colombia
3  CIUDAD-400   PAIS-66    ConcepciÃ³n      Chile
4  CIUDAD-600   PAIS-66      Santiago      Chile
5  CIUDAD-500   PAIS-83          Lima       PerÃº
6  CIUDAD-700  PAIS-100         Quito    Ecuador

,IDCliente,NombreCliente,CodigoPedido,ID Ciudad,IDProducto,FechaVenta,Unidades,IDProducto,ID Categoria,NombreProducto,CostoUnitarioCAD,PrecioUnitarioCAD,ID Categoria,Categoria,ID Pais,Ciudad,Pais
0,111225,Jumbo/Easy,159037,CIUDAD-200,IP2,2005-01-08,58.0,IP2,CAT-LOW100,Iphone 2,1000.0,1250.00,CAT-LOW100,Gama Baja,PAIS-32,Buenos Aires,Argentina
0,111225,Jumbo/Easy,159038,CIUDAD-200,IP3,2005-01-08,64.0,IP3,CAT-LOW100,Iphone 3,1200.0,1500.00,CAT-LOW100,Gama Baja,PAIS-32,Buenos Aires,Argentina
0,111225,Jumbo/Easy,159039,CIUDAD-200,IP4,2005-01-08,72.0,IP4,CAT-MID200,Iphone 4,1400.0,1890.00,CAT-MID200,Gama Media,PAIS-32,Buenos Aires,Argentina
0,111225,Jumbo/Easy,159040,CIUDAD-200,IP5,2005-01-08,70.0,IP5,CAT-MID200,Iphone 5,1600.0,2160.00,CAT-MID200,Gama Media,PAIS-32,Buenos Aires,Argentina
0,111225,Jumbo/Easy,159041,CIUDAD-200,IP6,2005-01-08,36.0,IP6,CAT-HIGH300,Iphone 6,1800.0,2610.00,CAT-HIGH300,Gama Alta,PAIS-32,Buenos Aires,Argentina
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,191221,Megamaxi,184184,CIUDAD-700,MG,2015-12-08,98.0,MG,CAT-MID200,Motorola G,780.0,1053.00,CAT-MID200,Gama Media,PAIS-100,Quito,Ecuador
10,191221,Megamaxi,184185,CIUDAD-700,MX,2015-12-08,114.0,MX,CAT-MID200,Motorola X,548.0,739.80,CAT-MID200,Gama Media,PAIS-100,Quito,Ecuador
10,191221,Megamaxi,184186,CIUDAD-700,SXU,2015-12-08,140.0,SXU,CAT-HIGH300,Sony Xperia U,999.0,1448.55,CAT-HIGH300,Gama Alta,PAIS-100,Quito,Ecuador
10,191221,Megamaxi,184187,CIUDAD-700,AO1,2015-12-08,112.0,AO1,CAT-LOW100,Alcatel One,700.0,875.00,CAT-LOW100,Gama Baja,PAIS-100,Quito,Ecuador
10,191221,Megamaxi,184188,CIUDAD-700,LGP,2015-12-08,86.0,LGP,CAT-HIGH300,LG Pro,358.0,519.10,CAT-HIGH300,Gama Alta,PAIS-100,Quito,Ecuador

In [33]:
import requests
from bs4 import BeautifulSoup as bs
from dateutil.parser import parse
from pprint import pprint
import sys

In [32]:
def get_exchange_list_xrates(currency, amount=1):
    # make the request to x-rates.com to get current exchange rates for common currencies
    content = requests.get(f"https://www.x-rates.com/table/?from={currency}&amount={amount}").content
    # initialize beautifulsoup
    soup = bs(content, "html.parser")
    # get the last updated time
    price_datetime = parse(soup.find_all("span", attrs={"class": "ratesTimestamp"})[1].text)
    # get the exchange rates tables
    exchange_tables = soup.find_all("table")
    exchange_rates = {}
    for exchange_table in exchange_tables:
        for tr in exchange_table.find_all("tr"):
            # for each row in the table
            tds = tr.find_all("td")
            if tds:
                currency = tds[0].text
                # get the exchange rate
                exchange_rate = float(tds[1].text)
                exchange_rates[currency] = exchange_rate        
    return price_datetime, exchange_rates

In [35]:
source_currency = "CAD"
amount = float(1)
target_currency = "CLP"
price_datetime, exchange_rates = get_exchange_list_xrates(source_currency, amount)
print("Last updated:", price_datetime)
pprint(exchange_rates['Chilean Peso'])

Last updated: 2022-03-07 14:45:00+00:00
631.761864

In [37]:
print(type(exchange_rates['Chilean Peso']))

<class 'float'>

In [41]:
df_join_final['CostoUnitarioCLP'] = df_join_final['CostoUnitarioCAD']*exchange_rates['Chilean Peso']
df_join_final['PrecioUnitarioCLP'] = df_join_final['PrecioUnitarioCAD']*exchange_rates['Chilean Peso']

In [42]:
df_join_final

,IDCliente,NombreCliente,CodigoPedido,ID Ciudad,IDProducto,FechaVenta,Unidades,IDProducto,ID Categoria,NombreProducto,CostoUnitarioCAD,PrecioUnitarioCAD,ID Categoria,Categoria,ID Pais,Ciudad,Pais,CostoUnitarioCLP,PrecioUnitarioCLP
0,111225,Jumbo/Easy,159037,CIUDAD-200,IP2,2005-01-08,58.0,IP2,CAT-LOW100,Iphone 2,1000.0,1250.00,CAT-LOW100,Gama Baja,PAIS-32,Buenos Aires,Argentina,6.317619e+05,7.897023e+05
0,111225,Jumbo/Easy,159038,CIUDAD-200,IP3,2005-01-08,64.0,IP3,CAT-LOW100,Iphone 3,1200.0,1500.00,CAT-LOW100,Gama Baja,PAIS-32,Buenos Aires,Argentina,7.581142e+05,9.476428e+05
0,111225,Jumbo/Easy,159039,CIUDAD-200,IP4,2005-01-08,72.0,IP4,CAT-MID200,Iphone 4,1400.0,1890.00,CAT-MID200,Gama Media,PAIS-32,Buenos Aires,Argentina,8.844666e+05,1.194030e+06
0,111225,Jumbo/Easy,159040,CIUDAD-200,IP5,2005-01-08,70.0,IP5,CAT-MID200,Iphone 5,1600.0,2160.00,CAT-MID200,Gama Media,PAIS-32,Buenos Aires,Argentina,1.010819e+06,1.364606e+06
0,111225,Jumbo/Easy,159041,CIUDAD-200,IP6,2005-01-08,36.0,IP6,CAT-HIGH300,Iphone 6,1800.0,2610.00,CAT-HIGH300,Gama Alta,PAIS-32,Buenos Aires,Argentina,1.137171e+06,1.648898e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,191221,Megamaxi,184184,CIUDAD-700,MG,2015-12-08,98.0,MG,CAT-MID200,Motorola G,780.0,1053.00,CAT-MID200,Gama Media,PAIS-100,Quito,Ecuador,4.927743e+05,6.652452e+05
10,191221,Megamaxi,184185,CIUDAD-700,MX,2015-12-08,114.0,MX,CAT-MID200,Motorola X,548.0,739.80,CAT-MID200,Gama Media,PAIS-100,Quito,Ecuador,3.462055e+05,4.673774e+05
10,191221,Megamaxi,184186,CIUDAD-700,SXU,2015-12-08,140.0,SXU,CAT-HIGH300,Sony Xperia U,999.0,1448.55,CAT-HIGH300,Gama Alta,PAIS-100,Quito,Ecuador,6.311301e+05,9.151386e+05
10,191221,Megamaxi,184187,CIUDAD-700,AO1,2015-12-08,112.0,AO1,CAT-LOW100,Alcatel One,700.0,875.00,CAT-LOW100,Gama Baja,PAIS-100,Quito,Ecuador,4.422333e+05,5.527916e+05
10,191221,Megamaxi,184188,CIUDAD-700,LGP,2015-12-08,86.0,LGP,CAT-HIGH300,LG Pro,358.0,519.10,CAT-HIGH300,Gama Alta,PAIS-100,Quito,Ecuador,2.261707e+05,3.279476e+05

In [46]:
#Conector: redshift+psycopg2
#Servidor = (DirecciÃ³n del Endpoint) redshift-cluster-1.cy8jk0o5flqq.sa-east-1.redshift.amazonaws.com
#Puerto=5439
#User=awsuser
#Password=Admin.2022
#Database=supertiendabi
#!pip install psycopg2

aws_engine = create_engine('redshift+psycopg2://awsuser:Admin.2022@redshift-cluster-1.cy8jk0o5flqq.sa-east-1.redshift.amazonaws.com:5439/supertiendabi')

Collecting psycopg2
  Downloading psycopg2-2.9.3-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.3

In [ ]:
df_join_final.to_sql('pedidos_leonardoandrade_grupo1', aws_engine, index=False, if_exists='replace')